<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="overflow-hidden m-0 p-2 bg-black">

    <div class="bg-black w-full h-screen flex items-center justify-center">
        <div class="div absolute z-10 font-semibold text-white text-4xl top-0">Please Enter a valid DOB<br>
            <a href="https://iitiansbro-seven.vercel.app/SignUp" class="text-red-400">Go back</a>
        </div>
        <div class="div h-[80%] rounded-md bg-zinc-700 pd-5 opacity-60 z-1">
            <img
    src="/ccd7c475-f114-4422-84b7-6bf9c7455c58.jpg"
    alt="Image"
    class=" object-cover"
/>
        </div>
    </div>

</body>
</html>
