<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black h-screen w-screen flex items-center justify-center text-white">

    <div class="text-center">
        <div class="text-4xl font-bold underline">
            Login Successful
        </div>

        <div class="mt-4 text-gray-300 cursor-pointer hover:underline hover:text-red-500">
            <a href="http://localhost:5173/">Return to home page</a>
        </div>
    </div>
</body>
</html>