<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="overflow-hidden  bg-black">
        <div class="div h-[100%] rounded-md bg-zinc-700 pd-5 opacity-60">
            <img
    src="/query.png"
    alt="Image"
    class=" object-cover"
/>
        </div>
</body>
</html>